@import "./blocks/cards.css";
@import "./blocks/contact.css";
@import "./blocks/footer.css";
@import "./blocks/header.css";
@import "./blocks/reviews.css";
@import "./blocks/top.css";
@import "./utilites.css";
@import "./variables.css";
@import "./blocks/form.css";

body{
    margin: 0;
}


ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: none;
}


button {
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
}

h1{
    margin: 0;
}

h2{
    margin: 0;
}

p{
    margin: 0;
} 



.wrapper{
    max-width: 1440px;
    margin-left: 100px;
    margin-right: 100px
}

.logo{
    width: 154px;
    height: 40px;
}




@media screen and (max-width:1439px){
    /* Для 1280 */
    .wrapper{
        max-width: 1280px;
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (max-width:1279px){
    /* Для 768 */
    .wrapper{
        max-width: 768px;
        margin-left: 43px;
        margin-right: 43px;
    }
}

@media screen and (max-width:767px){
    /* Для 320 */
    .wrapper{
        max-width: 320px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .logo{
        width: 89px;
        height: 24px;
    }
}