.form_container{
    display: flex;
    margin-top: 32px;
    margin-bottom: 180px;
}

.form{
    margin-right: 60px;
    width: 300px;
}

.form__box{
    width: 100%;
}

.form__input{
    width: 264px;
    background: rgba(80, 65, 255, 0.2);
    height: 20px;
    border: none;
    padding: 14px 18px;
    margin-top: 16px;
    border-radius: 12px;
}

.form__input:focus{
    outline: none;

}

.form__input::placeholder{
    opacity: 50%;
    color: #161616;
}

.form__input:focus::placeholder{
    opacity: 100%;
}

.form__input[type="submit"]{
    margin-top: 56px;
    width: 300px;
    height: 36px;
    padding: 0px;
    padding-bottom: 8px;
    padding-top: 8px;
    border-radius: 8px;
    background-color: var(--color-blue);
    color: var(--color-white);
}

.form__input:focus:invalid{
    background-color: #FA8057;
}